@import "tailwindcss";

@theme {
  --color-pastel-yellow: #F9EFC7;
  --color-pastel-pink: #F9DCEE;
  --color-pastel-purple: #E0CEF4;
  --color-pastel-blue: #DCE4F9;
  --color-pastel-cyan: #E3F4FB;
  --color-pastel-lemon: #FBF8CC;
  --color-pastel-champange: #FDE4CF;
  --color-pastel-baby: #FFCFD2;
  --color-pastel-lavender: #F1C0E8;
  --color-pastel-lb: #CFBAF0;
  --color-pastel-blueeye: #A3C4F3;
  --color-pastel-skyblue: #90DBF4;
  --color-pastel-mint: #98F5E1;
  --color-pastel-apple: #B9FBC0;
  --font-sans: "Inter", sans-serif;
}

html { 
  scroll-behavior: smooth; 
}

body { 
  background-color: #f8fafc; 
  overflow-x: hidden;
}